<template>
    <div>
        <h1>
            Add product
        </h1>
        <div class="col-md-6">
            <form @submit.prevent="addProducts">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title" v-model="products.title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Image Link" v-model="products.categories">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Content" v-model="products.content">
                </div>
                <button class="btn btn-primary"> Simpan </button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            products: {
                title: "",
                categories: "",
                content: ""
            }
        }
    },
    methods: {
        addProducts(title, categories, content) {
            let formData = new FormData();
            formData.append("title", this.products.title);
            formData.append("categories", this.products.categories);
            formData.append("content", this.products.content);
            return axios
                .post("http://reduxblog.herokuapp.com/api/posts?key=didik2", formData)
                .then(res => {
                    console.log(res)
                    alert('Artikel ditambahkan')
                })
            }
    }
}
</script>

<style>

</style>
