<template>
    <div class="container">
        <div class="row">
            <b-card v-for="(product, index) in products" :key="index" :title="product.title"
                :img-src="product.categories"
                img-alt="Image"
                img-top
                tag="article"
                style="max-width: 20rem;"
                class="mb-2">
            <p class="card-text">
            {{product.content}}
            </p>
            <b-button variant="danger" @click="deleteProduct(product.id)">Delete</b-button>
        </b-card>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            posts: [
                    {
                        nama: 'didik',
                        kelas: 'b',
                    },
                    {
                        nama: 'Gawat',
                        kelas:'a'
                    },
                    {
                        nama: 'didik',
                        kelas: 'b'
                    },
                    {
                        nama: 'Gawat',
                        kelas:'a'
                    }
                ],
            products: []
        }
    },
    created() {
        this.getProducts()
    },
    methods: {
        getProducts() {
            return axios.get('http://reduxblog.herokuapp.com/api/posts?key=didik2')
            .then(response => {
                this.products = response.data
                console.log('data', response.data)
            })
        },
        deleteProduct(id) {
            if(confirm('Apakah anda yakin')) {
                fetch(`http://reduxblog.herokuapp.com/api/posts/${id}?key=didik2`, {
                method: 'delete'
              })
              .then(res => res.json())
              .then(data => {
                  alert('Item dihapus');
                  this.getProducts();
              })
              .catch(err => console.log(err))
            }
        }
    }
}
</script>

<style>

</style>
