<template>
    <div class="master-cms">
        <div class="flex">
            <left-menu />
            <div class="content-right">
                <div class="menu-right">
                    Content
                </div>
                <div>
                    <router-view />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import appProduct from './appProduct.vue'
import appGallery from './appGallery.vue'
import leftMenu from './leftMenu.vue'
import appCreate from './appCreate.vue'
export default {
    components: {
        appProduct, appGallery, leftMenu, appCreate
    }
}
</script>

<style>

</style>
